*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --shadowHeader: #c4bfbf;
  --black: #000;
  --transition: all 0.3s;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
}

.header {
  width: 100%;
  min-height: 50px;
  background-color: #fff;
  box-shadow: 0 0 6px 3px var(--shadowHeader);
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
  height: 50px;
}

.header__layout {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__container {
  display: flex;
}

.popcorn {
  width: 40px;
  height: 40px;
  background-image: url(../images/popcorn.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.logo {
  width: auto;
  height: 40px;
  line-height: 45px;
}

.form {
  display: none;
}

.profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile__name {
  margin-right: 5px;
  display: none;
}

.profile__logo {
  width: 40px;
  height: 40px;
  background-image: url("../images/profile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin-right: 5px;
}

.profile__toggle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid var(--black);
  transform: rotate(0deg);
  transition: var(--transition);
}

@media screen and ( min-width: 720px ) {
  .form {
    display: block;
    width: 45%;
  }

  .form__search {
    width: 100%;
    padding: 5px 2px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
  }

  .profile__name {
    display: block;
  }

}
