*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --headerShadow: #c4bfbf;
  --dark-color: #000;
  --light-color: #fff;
  --sidebar-color: #d55e5e;
  --input-color: rgb(141, 141, 141);
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
}

.header {
  width: 100%;
  min-height: 50px;
  background-color: var(--light-color);
  box-shadow: 0 0 6px 1px var(--headerShadow);
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
  height: 50px;
}

.header__layout {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__container {
  display: flex;
}

.popcorn {
  width: 40px;
  height: 40px;
  background-image: url(../images/popcorn.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.logo {
  height: 40px;
  line-height: 45px;
}

.form {
  display: none;
}

.profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile__name {
  margin-right: 5px;
  display: none;
}

.profile__logo {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  background-image: url("../images/profile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.profile__toggle {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid var(--dark-color);
}

.main {
  margin-top: 70px;
}

.main__layout {
  display: grid;
}

.sidebar {
  display: none;
  padding: 20px;
  background-color: var(--sidebar-color);
  grid-row: 1 / -4;
}

.options {
  display: flex;
  flex-direction: column;
  color: var(--light-color);
  text-align: center;
}

.options__home,
.options__trending,
.options__likes,
.settings__nut {
  cursor: pointer;
}

span.fas {
  display: block;
  margin-bottom: 15px;
  font-size: 25px;
}

.settings {
  position: fixed;
  margin-top: 28vh;
  text-align: center;
  color: var(--light-color);
}

.grid-movies > h3 {
  margin-left: 30px;
}

.movies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.movies__card {
  width: 100%;
  height: 170px;
  max-width: 350px;
  margin: 15px;
  background-image: url(../images/image-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  cursor: pointer;
}


@media screen and (min-width: 480px) {
  .profile__name {
    display: block;
  }
}

@media screen and (min-width: 570px) {
  .main__layout {
    grid-template-columns: auto 4fr;
  }
  .sidebar {
    display: block;
  }
}

@media screen and (min-width: 720px) {
  .form {
    display: block;
    width: 45%;
  }

  .form__search {
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--input-color);
    outline: none;
  }
}

@media screen and (min-width: 1020px) {
  .grid-movies {
    grid-template-columns: repeat(3, 1fr);
  }
}
