*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
  --shadowHeader: #c4bfbf;
  --black: #000;
  --transition: all .3s;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.wrapper {
  padding: 0 1.5rem;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 0 6px 3px var(--shadowHeader);
  padding: 10px 30px;
  position: fixed;
  top: 0;
  left: 0;
}


.logo__container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.popcorn {
  display: block;
  max-width: 100%;
  width: 18px;
  margin-right: 5px;
}

.logo {
  font-size: 1.2rem;
}



.profile__container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile__logo {
  width: 40px;
  height: 40px;
  background-image: url('../images/profile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.profile__toggle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid var(--black);
  transform: rotate(0deg);
  transition: var(--transition);
}


.profile__container:hover .profile__toggle {
  transform: rotate(179deg);
}

.profile__container:hover .profile__logo {
  box-shadow: 0 0 5px 5px #ccc;
}


.main {
  margin-top: 150px;
}

.options {
  width: 100%;
  height: 60px;
  margin-top: 60px;
  background-color: #FD6766;
  box-shadow: 0 0 2px 2px #FD6766;
  padding: 10px 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.options div {
  margin: 0 8px;
  cursor: pointer;
}

.options div i{
  font-size: 18px;
  margin-bottom: 6px;
  transition: var(--transition);
}

.options p {
  margin: 0;
  font-size: .8rem;
}

.options__top {
  display: flex;
  text-align: center;
}

.option__bottom {
  text-align: center;
}

.options__top div:hover  i,
.option__bottom div:hover i{
  transform: scale(1.2);
}